body {
    text-align: center;
    background-color: #dadada;
  }
  
  
  h1 {
    text-align: center;
    font-family: 'Erica One', sans-serif;
    padding-bottom:30px;
    background-color:lightsalmon;
    margin-left:40px;
    margin-right:40px;
    margin-bottom:20px;
    border-radius: 10px;
  }
  p{
    font-weight:bold;
    font-size:large;
  }
  #title {
    font-size: 72px;
  }
  
  h2 {
    font-family:cursive;
    font-size:large;
    font-weight:bold;
    color:green;
  }
  
  h3 {
    font-family: 'Roboto', sans-serif;
  }
  
  .pig {
    padding-bottom: 15%;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:10px;
    background-color: bisque;
    background-size:cover;
    box-sizing: content-box;
    width:98%;
    height: 560px
  }
  
  .running-total {
    font-family: 'Roboto', sans-serif;
  }
  
  .total-score {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
  }
  
  .player-one-rolls-one {
    font-size: 36px;
    font-family: 'Erica One', sans-serif;
    text-align: center;
    display: none;
  }
  
  .player-col {
    border:6px solid black;  
    height: 300px;
    background-color:wheat;
    padding:5px;
  }
  
  .btn {
    height: 60px;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    color:palevioletred;
    padding-top:30px;
    background-color:lightsalmon;
  }
  #winner {
    display: none;
    font-family: 'Erica One';
    font-size: 72px;
  }
  
  #player-two-buttons {
    display: none;
  }
  
  
  

