
#nav{
  text-align:right;
}
#nav>a{
  margin-right: 40px;
  color:blue;
  text-transform: uppercase;
}
#nav>:hover{
  color: orchid;
}
  h1 {
    text-align: center;
    font-family: 'Erica One', sans-serif;
    padding-bottom:30px;
    background-color:lightsalmon;
    margin-left:40px;
    margin-right:40px;
    margin-bottom:20px;
    border-radius: 10px;
  }
  p{
    font-weight:bold;
    font-size:large;
  }
  
  h2 {
    font-family:cursive;
    font-size:large;
    font-weight:bold;
    text-align:center;
  }
  
  h3 {
    font-family: sans-serif;
    font-weight:bold;
    font-size:large;
  }
  p{
    text-align:center;
  }
  .pig {
    padding-top: 5px;
    padding-bottom:15%;
    margin-top:10px;
    margin-bottom:10px;
    background-color: bisque;
    box-sizing: border-box;
    width:100%;
    height:710px;
  }
  .running-total {
    font-family: 'Roboto', sans-serif;
  }
  
  .total-score {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
  }
  
  .player-one-rolls-one {
    font-size: 46px;
    font-family: 'Erica One', sans-serif;
    text-align:center;
    display: none;
  }
  
  .player-col {
    border:6px solid black;  
    height: 300px;
    background-color:mediumvioletred;
    padding-top:5px;
    padding-bottom: 15px;
  }
  
  .btn {
    height: 60px;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    color:palevioletred;
    padding-top:30px;
    background-color:lightsalmon;
  }
  #winner {
    display: none;
    font-family: 'Erica One';
    font-size: 72px;
  }
  
  #player-two-buttons {
    display: none;
  }
  footer{
    margin-top:28px;
    background-color:lightsalmon;
    text-align:center;
    border-radius: 60px;
  }
  
  

